@model site.Service.ArticleViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="container">
    <div class="row">
        <div class="col-md-1 col-xs-2 text-center">
            @if (!string.IsNullOrEmpty(Model.SmallIconLink))
            {
                <img src="@Url.Content(Model.SmallIconLink)" />}
        </div>
        <div class="col-md-10 col-xs-10 title">
            <h1 class=""><span>@Model.Title</span></h1>
        </div>
    </div>
</header>
<article class="fluid-container">
    @Html.Raw(HttpUtility.HtmlDecode(Model.LongDescription))
    <div class="demo-link">
        <a href="@Model.DemoLink" class="btn btn-default"><span class="glyphicon glyphicon-menu-right">DEMO</span></a>
    </div>
    @*<div class="demo-link">
        <a href="@Model.DemoLink">
            <button type="button" class="btn btn-primary"></button>
        </a>
    </div>*@
</article>